* {
    /* margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px; */
    margin: 100px;
}



h1 {
    color:#88c6f2;
}

strong {
    font-weight: normal;
}

p {
    color:lightslategrey;
    background: beige;
    font-weight: normal; /* bold, normal */
    text-transform: none; /* uppercase, loswercase, capitalize */
    font-style: normal; /* italic */
    line-height: 20px; /* normal, px value */
    letter-spacing: normal; /* normal, px value */
    text-decoration: underline;
    font-size: 12px;
}

body {
    background: brown;
}

#citation {
    color:darkslategrey;
    background:burlywood;
}

.new-class {
    font-size:20px;
    background:yellow;
}

a{
    font-size: 20px;
    text-decoration:underline;
}

a:visited {
    color: green;
}
a:hover {
    color:white;
    text-decoration: none;
}

#container {
    background: rgb(214, 154, 164);
    border-style: dotted;
    border-color: blueviolet;
    border-width: 5px;
    width: 200px;
    text-align: center;
}

#shape {
    height: 300px;
    width: 300px;
    background: yellow;
}

#circle {
    height: 200px;
    width: 200px;
    background: palevioletred;
    border-radius: 200px;
}

img {
    width: 200px;
    height: 200px;
}